<div class="dummy-height-58">a</div>
<div class="notifications">
    <div *ngFor="let notification of user?.notifications" class="notification"
        style="margin-top:10px; border-bottom:1px solid var(--my-grey)">
        <div class="notification-img">
            <img [src]="notification.post.photo">
        </div>
        <div class="p-l-15">
            <div class="notification-title">
                <span *ngIf="notification.kind=='LIKE'">
                    {{notification.users_involved.length}} people liked <span
                        class="bold">{{notification.post.title}}</span>
                </span>
            </div>
            <div class="notification-subtitle">
                <img *ngIf="notification.kind=='LIKE'" src="../../../assets/icons/project.png" class="notification-icon"> 10 hours ago
            </div>
        </div>
    </div>
</div>